.list{
    margin-top: 1px ;
    font-size: 1.5rem /* 20px */;
    font-weight: 400;
}
.icon{
    margin-top: 8px ;
    border-radius: 0.75rem  ;
    width: 3rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem ;
    font-size: 1.5rem /* 20px */;
    
    
}
/* 
.icon:hover{
    background-color: rgb(43, 39, 39) ;
} */