.list{
    transition-duration: 200ms;
    font-size: 1.25rem /* 20px */;
    font-weight: 400;
}
.icon{
    margin-right: 5px;
    margin-top: 9px ;
    border-radius: 0.75rem  ;
    width: 3rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem ;
    font-size: 1.4rem ;
    transition-duration: 200ms;
    
}
.sideBar_icon:hover{
    background-color: #181717;
    
}

.sideBar_icon{
    cursor: pointer;
    border-radius: 9999px; 
    padding: 0.5rem 1.5rem 0.75rem 0.5rem;
    transition-duration: 200ms;
}
bg{
    backdrop-filter: blur(2px);
}

@media(max-width :639.9px){
    .side_navbar{
        display: flex;
        background-color: black;
        transform: translateX(-235px);
    }
    .animated{
        transform: translateX(0px);
    }
}