.list{
    transition-duration: 200ms;
    font-size: 1.25rem /* 20px */;
    font-weight: 400;
}
.icon{
    margin-right: 5px;
    margin-top: 9px ;
    border-radius: 0.75rem  ;
    width: 3rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem ;
    font-size: 1.4rem ;
    transition-duration: 200ms;
    
}
.sideBar_icon:hover{
    background-color: #181717;
    
}

.sideBar_icon{
    cursor: pointer;
    border-radius: 9999px; 
    padding: 0.5rem 1.5rem 0.75rem 0.5rem;
    transition-duration: 200ms;
}
bg{
    backdrop-filter: blur(2px);
}

@media(max-width :639.9px){
    .side_navbar{
        transform: translateX(-235px);
        background-color: black;
        display: flex;
    }
    .animated{
        transform: translateX(0px);
    }

    .nav_text{
        display: hidden;
    }
}


.logoutBox{
    transition : 0.2s ease-in-out;
    box-shadow: 1px 1px 10px #424242 , -1px -1px 10px #424242 ;
    transform: translateY(70px) translateX(30px) scale(0) ;
    left: inherit;
}

@media(max-width : 1023.9px){
    .logoutBox{
        transform: translateY(70px) translateX(-140px) scale(0)
    }
}

.animate_logoutbox{
    transition-duration: 200ms ;
    transform: translateY(0px) translateX(0px) scale(1);
}

