.list{
    transition-duration: 200ms;
    font-size: 1.25rem /* 20px */;
    font-weight: 400;
    /* border-right:  1px solid rgb(135, 129, 129) ; */
    /* margin: 7px 0px ; */
    /* padding: 0.5rem 1.5rem 0.75rem 0.5rem; */
}
.icon{
    margin-right: 5px;
    margin-top: 9px ;
    border-radius: 0.75rem  ;
    width: 3rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem ;
    font-size: 1.4rem ;
    transition-duration: 200ms;
    
}
.sideBar_icon:hover{
    background-color: #181717;
    
}

.sideBar_icon{
    cursor: pointer;
    border-radius: 9999px; 
    padding: 0.5rem 1.5rem 0.75rem 0.5rem;
    transition-duration: 200ms;
}

@media(max-width :640px){
    .side_navbar{
        display: flex;
        background-color: black;
        transform: translateX(-235px);
    }
    .animated{
        transform: translateX(0px);
    }
    .nav_text{
        display: inline ;
    }
}